<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Pastebin</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>
    <div class="container">
        <div id="gutters">1</div>
        <div id="paste" contenteditable="true" spellcheck="false"
            data-placeholder="Paste or type here... (images can be pasted or dropped too)"></div>
    </div>
    <div id="status"></div>
    <div id="user-count">1</div>
    <div class="bar">
        <button id="copy-btn">Copy</button>
        <button id="upload-btn">Upload Image</button>
        <input type="file" id="file-input" accept="image/*" hidden>
    </div>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>

</html>